/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	text-align: center;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 4em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 2em;
	color: #093a58;
	text-align: center;
	margin-top: 0;
}

h3 {
	font-size: 1.25em;
	color: #093a58;
	text-align: center;
	margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
	width: 150px;
}

.name,
.main-nav,
.main-nav li,
.main-nav-replacer {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	display: inline-block;
}

.main-nav-replacer {
	width: 40px;
	margin-top: 10px;
	margin-right: 20px;
	right: 0px;
	position: absolute;
}

.main-nav a {
	font-size: 1em;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #DCD8D8;
	margin-bottom: 0;
}

.slogan {
  background-color: #B1D6E0;
  line-height: 1;
  padding: 10% 10%;
}

.top {
  padding: 2% 2%;
  margin: 2% 2%;
}

.container {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

.one,
.two,
.three,
.four {
	display: inline-block;
	/* margin-right: 1%; */
	vertical-align: top;
	margin-bottom: 2%;
	padding: 1em 1em;
	background-color: #9FB3D2;
}

.col {
	padding-bottom: 3em;
}

.bottom a {
  background-color: #B1D6E0;
  font-size: 1em;
  text-align: center;
  display: block;
  padding: 1% 1%;
  margin: 2% auto;
  width: 8em
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 1200px) {

	.main-nav {
		right: 0px;
		position: absolute;
	}

	.main-nav-replacer {
		display: none;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.name {
		font-size: 1.75em;
	}

	.main-nav a {
		font-size: 1.25em;
	}

	.one,
	.two {
		width: 50%;
	}

	.three,
	.four {
		width: 50%;
	}

	.col {
		float: left;
	}
}

@media (min-width: 800px) and (max-width: 1199px) {

	.main-nav {
		right: 0px;
		position: absolute;
	}

	.main-nav-replacer {
		display: none;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		}

	.one,
	.two {
		width: 50%;
		margin-right: 0;
	}

	.three,
	.four {
		width: 50%;
	}

	.col {
		float: left;
	}
}

@media (min-width: 500px) and (max-width: 799px) {

	.main-nav {
	  display: none;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		}

	.one,
	.two {
		width: 50%;
		margin-right: 0;
	}

	.three,
	.four {
		width: 50%;
	}

	.col {
		float: left;
	}

}

@media (max-width: 499px) {

	.main-nav {
		display: none;
	}
}
